
body {
    
   text-align: center;
    color:#ffffff;
    background: linear-gradient(#a37063 , white);
   
    
}
#jm {
    width: 120px;
    border-radius: 50%;
    font-family: 'Oswald', sans-serif;
    border: 6px solid  #160706;
}
h1 , h2 , h3 {
    text-shadow: 0px 0px 5px  black;
}
#a{
    background: #b5a8a5;
    padding: 5px 10px;
    border-radius: 5x;
    margin: 5px 0 10px 0;
}
#b{

    background: #b5a8a5;
    padding: 5px 10px;
    border-radius: 5x;
}
#header {
display:flex ;
flex-direction: column;
align-items: center; }

.img{ 
    width: 400px;
    border: 6px solid white ;
    border-radius: 10px;
    height:400px;
    background-image:url("u/o.avif");
    background-size: cover;
    margin:0 auto;
}
.gift{
    margin-top: 50px;

}
.hint{
    margin-top: 0;
}
.title{
    margin-bottom:10px;

}
#first:hover {
    background-image: url("u/jm1.gif");

}
#second:hover {
    background-image: url(u/bangtan-boys-bts.gif);
}
#third:hover {
    background-image: url(u/tumblr_o62b7euNwQ1v194kso8_400.gif);

}
#fourth:hover {
    background-image: url(u/0ea39717ae11a1cb7bd7f791710cd5ea.gif);
}
#footer{
    font-style: italic;
    width: 200px;
    margin: 40px auto 20px;
}